@import "../../variables.scss";


.logo {
    position: relative;
    width: 50%;
    height: 150px;
    padding-top: 50px;
    z-index: 2;
    a {
      height: 200px;
      width: inherit;
      position: absolute;
      margin: 0 auto;
      img {
        width: 200px;
        height: 200px;
        transition: all 0.4s ease-in-out;
      }
    }
  }