@import "../variables";

.login-wrapper {
  margin-bottom: 50px;
  form {
    background-color: $color-brand-primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .input-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 30px 20px 0 20px;

      input {
        margin-bottom: 10px;
        width: 280px;
        height: 30px;
        background-color: $color-canvas-secondary;
        border: none;
        padding-left: 10px;
      }
      .password-input {
        position: relative;
        input {
          width: 280px;
        }
        .visibility-icon {
          position: absolute;
          top: 2px;
          right: 10px;
          fill: $color-brand-secondary;
        }
      }
    }
    .big-buttons {
      .big-btn {
        width: 280px;
      }
    }
    .forgot-password {
      color: $color-text-primary-2;
      align-self: center;
      margin: 20px 0;
    }
  }
}
