@import "../../_variables.scss";

.modal-wrapper {
  position: relative;
  width: 100vw;
  z-index: 5;

  .modal-bg {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4.9px);
    z-index: 2;
    overflow-y: hidden;
    .modal {
      background-color: $color-canvas-secondary;
      position: fixed;
      width: 90%;
      min-height: 50%;
      border: none;
      padding-bottom: 20px;
      .close-btn {
        position: absolute;
        right: 15px;
        top: 15px;
        border: none;
        color: $color-brand-primary;
        background-color: $color-canvas-secondary;
        width: 20px;
        height: 20px;
      }
      .can {
        background-color: $color-canvas-primary;
        color: $color-brand-primary;
      }
      .close-btn:hover {
        cursor: pointer;
        background-color: #3d3935;
        color: #00a0df;
        transition: all 0.3s ease;
      }
      .modal-form {
        padding: 20px 20px 0 20px;

        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        label {
          padding: 10px 0;
          width: 100%;
        }
        input {
          background-color: transparent;
          border: none;
          padding: 10px 0;
          border-color: #b8b0bf;
          border-radius: 4px;
          width: 100%;
        }
        select {
          border-color: #b8b0bf;
          border-radius: 4px;
          width: 100%;
          background-color: transparent;
          padding: 10px 0;
          margin: 10px 0;
        }
        p {
          padding: 10px 0;
        }
        .score-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .score-sub-wrapper {
            display: flex;
            flex-direction: column;
            width: 40%;
            .score-sub-sub-wrapper {
              display: flex;
              align-items: center;
              justify-content: center;
              label {
                padding: 0;

                select {
                  width: 40%;
                }
              }
              input {
                text-align: center;
                font-size: 18px;
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
}
