* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
.header {
  background-color: #5f259f;
  color: #a4afb6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  font-size: 26px;
  height: 80px;
}

.header h3,
.header a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
}

.menu {
  display: flex;
  justify-content: center;
  height: inherit;
}

.header-btn {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  margin: auto 20px;
  height: 100%;
  font-weight: 700;
}

.header-btn:hover {
  cursor: pointer;
}

.header-btn-reports {
  border: none;
  background-color: #00a0df;
  color: #a4afb6;
  font-size: 20px;
  padding: 0 25px;
  font-weight: 700;
  height: 100%;
}
.header-btn-reports:hover {
  cursor: pointer;
}
