$color-canvas-primary: #e9ecec;
$color-canvas-secondary: #f9f9f9;
$color-canvas-inverted: #e9ecec; /*not defined yet*/

$color-brand-primary: #592290;
$color-brand-primary-2: #e6d3f8;
$color-brand-secondary: #fd753a;
$color-brand-secondary-2: #fdd8c9; /*not defined yet*/

$color-text: #111313;
$color-text-inverted: #dbdbdb; /*not defined yet*/
