$color-canvas-primary: #e9ecec;
$color-canvas-secondary: #f9f9f9;
$color-canvas-inverted: #e9ecec; /*not defined yet*/

$color-brand-primary: #592290;
$color-brand-primary-2: #efe5f8;
$color-brand-secondary: #fd753a;
$color-brand-secondary-2: #fff0ea; /*not defined yet*/

$color-text-primary: #592290;
$color-text-primary-2: #e9ecec;
$color-text-secondary: #fd753a;
$color-text-secondary-2: #fdd8c9;
$color-text-inverted: #dbdbdb; /*not defined yet*/
